<link href="/style.css" rel="stylesheet" type="text/css">

<title>  personal slambook of <%=name%> | mySlam
</title>
<h1>
  <%=name%>
</h1>
<%if(body.length==0) {%>
<p>
  this will be your slambook. <br>
  you have nothing here, yet.
  <br> send this link to the people, so they can write something <br> onlineslambook.herokuapp.com/book/<%=name%>/write
</p>
<%}else{%>
<p>
  looks like you've got some writings
</p>
<%}%>
<section>
<%body.forEach(function(page){%>
  <div class="card">
    <div class="content">
      <h3>@<%=page.name%> wrote,</h3>
      <p><%=page.comment%></p>
    </div>
  </div>
<%});%>
</section>
